@font-face {
  font-family: 'montserrat';
  /* Nombre que asignarás a la fuente */
  src: url('/public/fonts/Montserrat-ExtraLight.otf') format('truetype');
  /* Ruta al archivo de la fuente */
  font-weight: normal;
  font-style: normal;
}


/* fondo */

body::before {
  content: "";
  position: fixed; /* Fija el pseudo-elemento en el fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/img/fondo.jpg'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  opacity: 0.12; /* Aplica la transparencia deseada */
  z-index: -1; /* Asegura que la imagen esté detrás del contenido */
}


/* Establecer la fuente global */
body {
  font-family: 'montserrat', sans-serif;
  /* Aplica la fuente personalizada */
}


/* carousel */

/* Ajustar el tamaño del carrusel */
.carousel {
  width: 80%;/* Ajusta el ancho del carrusel según tus necesidades */
  max-width: 1300px;/* Establece un ancho máximo si es necesario */
  margin: 0 auto;/* Centra el carrusel horizontalmente */
}

/* Redondear los bordes de las imágenes del carrusel */
.carousel-inner img {
  width: 100%;/* Asegura que la imagen ocupe el 100% del contenedor */
  height: auto;/* Mantiene la proporción de la imagen */
  border-radius: 15px;/* Aplica bordes redondeados */
}

/* Opcional: ajustar los controles del carrusel para que se vean bien */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;/* Ajusta el ancho de los controles */
  height: 100%;/* Asegura que los controles cubran la altura del carrusel */
}


.carousel-inner {
  text-align: center;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-caption {
  position: absolute;
  top: 50%; /* Ajusta la posición vertical */
  left: 50%; /* Ajusta la posición horizontal */
  transform: translate(-50%, -50%); /* Centra el texto en ambas direcciones */
  text-align: center; /* Alinea el texto al centro */
  color: white; /* Color del texto */
  /* background: rgba(0, 0, 0, 0.5); Fondo semitransparente para mejorar la legibilidad del texto */
  padding: 10px; /* Espaciado alrededor del texto */
  border-radius: 10px; /* Bordes redondeados del fondo */
  font-size: 2rem; /* Tamaño de fuente */
}

/* Quienesomos / Acerca de */
.cardinfo {
  width: 90%; /* Ajusta el ancho del card */
  max-width: 1300px; /* Establece un ancho máximo */
  margin: 0 auto; /* Centra el card horizontalmente */
  border-radius: 10px; /* Redondea los bordes de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
  background-color: white;
}

/* Redondear los bordes de la imagen */
.cardinfo-img-left {
  border-radius: 50%; /* Hace la imagen circular */
  width: 120px; /* Tamaño específico de la imagen, ajusta según tus necesidades */
  height: 120px; /* Asegura que la altura sea igual al ancho para mantener la forma circular */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor circular */
  margin: 70px; /* Ajusta el margen alrededor de la imagen */
  margin-top: 20px; /* Reduce el espacio en la parte superior de la imagen */
}

.col-md-4 {
  display: flex; /* Usa flexbox para alinear la imagen verticalmente */
  align-items: flex-start; /* Alinea la imagen en la parte superior de la columna */
  padding: 15px; /* Añade espacio alrededor del contenido de la columna */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


  /* Estilo para las tarjetas */
.card{
  width: 80%; /* Ajusta el ancho del card */
  max-width: 1400px; /* Establece un ancho máximo */
  margin: 0 auto; /* Centra el card horizontalmente */
  border-radius: 10px; /* Redondea los bordes de la tarjeta */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
  overflow: hidden; /* Asegura que el contenido no sobresalga */
}

.btn-primary {
  background-color: #BC8741 !important; /* Color de fondo del botón */
  border-color: #BC8741 !important; /* Color del borde del botón */
  color: white !important; /* Color del texto */
  outline: none !important; /* Eliminar el contorno predeterminado */
}

.btn-primary:hover {
  background-color: #a3743b !important; /* Color de fondo al pasar el mouse sobre el botón */
  border-color: #a3743b !important; /* Color del borde al pasar el mouse sobre el botón */
}

.btn-primary:focus, .btn-primary:active {
  background-color: #8b6033 !important; /* Color de fondo al hacer clic */
  border-color: #8b6033 !important; /* Color del borde al hacer clic */
  outline: none !important; /* Eliminar el contorno */
  box-shadow: none !important; /* Eliminar cualquier sombreado */
}


/* tabla de casos */


.custom-table {
  border: 2px solid #BC8741; /* Borde de la tabla */
  width: 80%; /* Para centrar la tabla con margin */
}

.custom-table th, .custom-table td {
  border: 1px solid #BC8741; /* Bordes de las columnas */
  text-align: center; /* Centrar el contenido de las celdas */
  background-color: white;
}

.custom-table th {
  background-color: #BC8741; /* Color de fondo para los encabezados */
  color: white;
}

.table-responsive {
  display: flex;
  justify-content: center; /* Centrando la tabla */
}

/* Estilo por defecto cuando el switch está desactivado */
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: green !important; /* Verde cuando está activado */
  border-color: green !important;
}

/* Estilo cuando el switch está desactivado */
.custom-control-input ~ .custom-control-label::before {
  background-color: red !important; /* Rojo cuando está desactivado */
  border-color: red !important;
}

/* Estilo para el thumb cuando el switch está activado */
.custom-control-input:checked ~ .custom-control-label::after {
  background-color: white !important; /* Bolita blanca cuando está activado */
}

/* Estilo para el thumb cuando el switch está desactivado */
.custom-control-input ~ .custom-control-label::after {
  background-color: white !important; /* Bolita blanca cuando está desactivado */
}